    .gridsterWidgetContainer {
        height: calc(100% - 24px);
        overflow: auto;
    }
    .gridsterWidgetContainer li {
        padding: 8px 6px;
        list-style-type: none;
        position: relative;
    }
    .pvtAttr {
        background: #F3F3F3;
        border: 1px solid #DEDEDE;
        padding: 2px 5px;
        white-space: nowrap;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #000;
        cursor: move;
    }
