<!DOCTYPE html>
<html>
    <head>
        <title>Acquire, Explore, Syndicate</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <base href="/">

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Material+Icons"> 
        <link rel="stylesheet" href='css/screen.css'/>
        <link rel='stylesheet' href='bower_components/angular-material/angular-material.min.css' />
        <!-- jQuery Plugin's CSS -->
        <link rel='stylesheet' href='bower_components/ngRNDR/dist/css/pivot.min.css' />
        <link rel='stylesheet' href='bower_components/gridster/dist/jquery.gridster.min.css' />
        <link rel='stylesheet' href='bower_components/datatables.net-dt/css/jquery.dataTables.min.css' />
        <link rel='stylesheet' href='bower_components/datatables.net-buttons-dt/css/buttons.dataTables.min.css' />
        <link rel='stylesheet' href='bower_components/datatables.net-fixedcolumns-dt/css/fixedColumns.dataTables.min.css' />
        <link rel='stylesheet' href='bower_components/datatables.net-keytable-dt/css/keyTable.dataTables.min.css' />
        <link rel='stylesheet' href='bower_components/jquery-ui/themes/base/jquery-ui.min.css' />
        <link rel='stylesheet' href='bower_components/jQuery-contextMenu/src/jquery.contextMenu.css' />
    </head>
    <body style="display:none">
    <md-content flex id="data_analytics_toolkit" ng-controller="Controller" ng-switch on="Controller.mainContentView" flex layout-fill layout="column" tabIndex="-1" role="main" style="overflow: hidden;">
        <md-menu-bar ng-if="Controller.mainContentView !== 'Data Source Configuration Wizard' && Controller.mainContentView !== 'Dashboard Designer' && Controller.mainContentView !== '' && Controller.mainContentView !== undefined && Controller.embedded !== true" class="md-whiteframe-z5" style="z-index:3;">
            <md-menu>
                <button ng-click="$mdOpenMenu()">
                    File
                </button>
                <md-menu-content>
                    <md-menu-item>
                        <md-menu>
                            <md-button ng-click="$mdOpenMenu()">New</md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="Controller.initiateDataExploration(true);">Data Exploration</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="Controller.initiateDataSourceConfigurationWizard();">Data Source Configuration</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>
                    <md-menu-item ng-if="Controller.mainContentView !== 'Dashboard Designer' && RenderingEngineManager.activeRenderingEngine">
                        <md-button ng-click="ServiceProvider.ExploreController.dialogContentView = 'Rename';UiControls.openDialog('Name')">Rename</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="Controller.mainContentView !== 'Dashboard Designer' && RenderingEngineManager.activeRenderingEngine">
                        <md-button ng-click="Controller.deleteRenderingEngine(RenderingEngineManager.activeRenderingEngine);">Delete</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <!--  move $mdOpenMenu() into UiControls -->
                <button ng-disabled="Controller.sandboxMenusEnabled()" ng-click="$mdOpenMenu()">
                    Perspective
                </button>
                <md-menu-content style="z-index:3;">
                    <md-menu-item>
                        <md-button ng-click="Controller.initiateDataExploration(false);">Explore</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="!Controller.sandboxMenusEnabled()">
                        <md-button ng-click="Controller.mainContentView = 'Dashboard Designer'">Dashboard Designer</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <!--  move $mdOpenMenu() into UiControls -->
                <button ng-disabled="Controller.sandboxMenusEnabled()" ng-click="$mdOpenMenu()">
                    View
                </button>
                <md-menu-content style="z-index:3;">
                    <md-menu-item ng-repeat="rendererName in Renderers.availableRendererNames">
                        <md-button ng-click="RenderingEngineManager.renderingEngines[RenderingEngineManager.activeRenderingEngine].setRendererName(rendererName, ServiceProvider.DataSourceManager.dataSources[RenderingEngineManager.renderingEngines[RenderingEngineManager.activeRenderingEngine].dataSourceConfigId].formattedData)">
                            {{rendererName}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <!--  move $mdOpenMenu() into UiControls -->
                <button ng-disabled="Controller.sandboxMenusEnabled()" ng-click="$mdOpenMenu()">
                    Options
                </button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="ServiceProvider.ExploreController.dialogContentView = 'Aggregate';UiControls.openDialog('Aggregate')">
                            Aggregate
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ServiceProvider.ExploreController.dialogContentView = 'Filters';UiControls.openDialog('Filters')">
                            Filter
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
        <md-content style="height: 100%;" layout='column' ng-switch-when="Loading">
            <md-content flex layout="row" layout-fill layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </md-content>
        </md-content>
        <md-content style="height: 100%;" layout='column' ng-switch-when="Explore">
            <exploration-directive></exploration-directive>
        </md-content>
        <md-content style="height: 100%;" layout='column' ng-switch-when="Data Source Configuration Wizard">
            <acquisition-directive style="height: 100%;"></acquisition-directive>
        </md-content>
        <md-content style="height: 100%; overflow-x: hidden;" layout='column' ng-switch-when="Dashboard Designer">
            <dashboard-directive rendering-engine-manager="RenderingEngineManager"></dashboard-directive>
        </md-content>
        <md-content style="height: 100%; background-color: lightgrey" layout='row' layout-align="center center" ng-switch-default>
          <md-card flex="50" class="md-whiteframe-z5">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Data Analytics Toolkit</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Acquire data over http from any REST service...Explore and visualize your data with pivot tables, google charts, D3, and C3 charting libraries...Create your own visualization plugin...Syndicate your data with the metro style tiles...
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary" ng-click="Controller.initiateDataExploration();">Explore</md-button>
              <md-button class="md-raised md-primary" ng-click="Controller.initiateDataSourceConfigurationWizard();">Data Source Configuration</md-button>
            </md-card-actions>
          </md-card>
        </md-content>
    </md-content>
    </body>
    <script data-main="main.js" src="bower_components/requirejs/require.js"></script>
</html>