<md-content id="rendering-engine-collection-tabular-ui" flex layout="column" tabIndex="-1" role="main" style="height: 100%;">
    <md-content layout="row" flex id="content" class="md-primary md-hue-1">
        <md-content id="mainContent" flex layout='column'>
            <md-tabs layout-fill md-stretch-tabs="always" md-align-tabs="top" md-border-bottom="true" md-autoselect="true" md-no-disconnect="true" md-no-pagination="true">
                <md-tab ng-repeat="(RenderingEngineUUID, RenderingEngine) in renderingEnginesCollection.map" ng-disabled="RenderingEngine.disabled" md-active="RenderingEngine.active" md-on-select="renderingEnginesCollection.activeRenderingEngine = RenderingEngine.id;RenderingEngine.active = true;" md-on-deselect="renderingEnginesCollection.activeRenderingEngine = undefined;RenderingEngine.active = false;" label="{{RenderingEngine.title}}">
                    <rndr id="renderer" engine="RenderingEngine" input="dataSources.map[RenderingEngine.dataSourceConfigId].formattedData"></rndr>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-content>
</md-content>
