<md-dialog flex="{{uiControls.dialogWidth}}" layout="column" tabIndex="-1" aria-label="Characteristic Configuration">
    <form>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>{{uiControls.dialogTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="exploreController.closeDialog();" aria-label="Close Dialog">
                    <md-tooltip>
                        Close Dialog
                    </md-tooltip>
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout="column">
            <md-content layout-padding layout-align="space-around center" ng-switch on="exploreController.dialogContentView">
                <md-content layout="column" ng-switch-when='Rename'>
                    <md-content flex layout-padding layout-align="space-around center">
                        <md-content layout="column">
                            <md-input-container flex>
                                <label>Save As:</label>
                                <input ng-model="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].title">
                            </md-input-container>
                        </md-content>
                    </md-content>
                </md-content>
                <md-content layout="column" ng-switch-when='Aggregate'>
                    <md-content layout="row">
                        <md-content flex=30 layout="column" layout-align="start start">
                            <md-content>
                                <section>
                                    <md-subheader class="md-primary">Select Aggregator</md-subheader>
                                </section>
                            </md-content>
                        </md-content>
                        <md-content flex=55 layout="column" layout-fill layout-padding layout-align="start center" ng-show="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].aggregator.aggInputAttributeName.length > 0" style="border-left: 1px solid #ccc;">
                            <md-content>
                                <section>
                                    <md-subheader class="md-primary">Select input attributes for the {{renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].aggregatorName}} aggregator:</md-subheader>
                                </section>
                            </md-content>
                        </md-content>
                    </md-content>
                    <md-content layout="row">
                        <md-content flex=30 layout="column" layout-align="start start">
                            <md-content>
                                <section>
                                    <md-list layout-padding>
                                        <md-list-item class="md-3-line">
                                            <md-input-container>
                                                <md-select ng-change="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].setAggregator(renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].aggregatorName)" ng-model="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].aggregatorName">
                                                    <md-option ng-repeat="aggregatorName in aggregators.list()" value="{{aggregatorName}}">{{aggregatorName}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </md-list-item>
                                    </md-list>
                                </section>
                            </md-content>
                        </md-content>
                        <md-content flex=55 layout="column" layout-fill layout-padding layout-align="start center" ng-show="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].aggregator.aggInputAttributeName.length > 0" style="border-left: 1px solid #ccc;">
                            <md-content>
                                <section>
                                    <md-list layout-padding>
                                        <md-list-item class="md-3-line" ng-repeat="inputsToProcess in renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].aggregator.aggInputAttributeName track by $index">
                                            <md-input-container>
                                                <label>Attribute {{$index + 1}}</label>
                                                <md-select ng-model="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].aggregator.aggInputAttributeName[$index]">
                                                    <md-option ng-repeat="attributeName in renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].dataView.shownAttributes" value="{{attributeName}}">{{attributeName}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </md-list-item>
                                    </md-list>
                                </section>
                            </md-content>
                        </md-content>
                    </md-content>
                </md-content>
                <md-content flex layout="row" layout-sm="column" ng-switch-when='Filters'>
                    <md-content flex=30 layout="column" layout-align="start start">
                        <md-content>
                            <section>
                                <md-subheader class="md-primary">Select Attribute to Filter</md-subheader>
                                <md-list layout-padding>
                                    <md-list-item class="md-3-line">
                                        <md-input-container>
                                            <label>Filter</label>
                                            <md-select ng-model="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].attributeFilterName">
                                                <md-option ng-repeat="attributeName in renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].dataView.shownAttributes" value="{{attributeName}}">{{attributeName}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </md-list-item>
                                </md-list>
                            </section>
                        </md-content>
                    </md-content>
                    <md-content flex=55 layout="column" layout-fill layout-padding layout-align="start center" style="border-left: 1px solid #ccc;">
                        <md-content>
                            <section>
                                <md-subheader class="md-primary">Select which values will be available for {{renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].attributeFilterName}}:</md-subheader>
                                <div ng-repeat="(key, value) in renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].dataView.axisValues[renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].attributeFilterName]">
                                    <md-checkbox aria-label="Checkbox" ng-checked="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].dataView.isExcluded(renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].attributeFilterName, key)" ng-click="renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].dataView.addExclusionFilter(renderingEnginesCollection.map[renderingEnginesCollection.activeRenderingEngine].attributeFilterName, key)">{{key}}</md-checkbox>
                                </div>
                            </section>
                        </md-content>
                    </md-content>
                </md-content>
                <md-content flex layout="row" layout-sm="column" ng-switch-when='Data Sources'>
                    <md-content flex layout="column" layout-align="start start">
                        <md-content ng-if="dataSourceConfigurations.size() > 0">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Data Source</label>
                                <p>Please select from existing data source:</p>
                                <md-select ng-model="exploreController.selectedDataSourceConfigId">
                                    <md-option ng-repeat="dataSourceConfiguration in dataSourceConfigurations.map" value="{{dataSourceConfiguration.id}}">
                                        {{dataSourceConfiguration.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-content>
                        <md-content>
                            <md-button class="label md-accent" ng-click="exploreController.initiateDataSourceWizard();">Create...</md-button>
                        </md-content>
                    </md-content>
                </md-content>
            </md-content>
        </md-dialog-content>
        <md-content class="md-actions" layout="row">
            <md-content ng-switch on="exploreController.dialogContentView">
                <md-content ng-switch-when='Rename'>
                    <md-button ng-click="uiControls.hideDialog();" class="md-primary" aria-label="Ok">
                        Ok
                    </md-button>
                </md-content>
                <md-content ng-switch-when='Aggregate'>
                    <md-button class="md-primary" ng-click="uiControls.hideDialog();" aria-label="Close Dialog">
                        Cancel
                    </md-button>
                    <md-button ng-click="exploreController.hideDialogAndDraw();" class="md-primary" aria-label="Ok">
                        Ok
                    </md-button>
                </md-content>
                <md-content ng-switch-when='Filters'>
                    <md-button class="md-primary" ng-click="uiControls.hideDialog();" aria-label="Close Dialog">
                        Cancel
                    </md-button>
                    <md-button ng-click="exploreController.hideDialogAndDraw();" class="md-primary" aria-label="Ok">
                        Ok
                    </md-button>
                </md-content>
                <md-content ng-switch-when='Data Sources'>
                    <md-content ng-if="(exploreController.selectedDataSourceConfigId !== undefined)">
                        <md-button class="md-accent" ng-click="exploreController.createRenderingEngine();exploreController.closeDialog();" aria-label="Create New Data Source">
                            explore
                        </md-button>
                    </md-content>
                </md-content>
            </md-content>
        </md-content>
    </form>
</md-dialog>
