<!-- Outter Container -->
<md-content id="explore" flex layout="column" tabIndex="-1" role="main" style="height: 100%;">
    <!-- Main Container -->
    <md-content layout="row" flex id="content" class="md-primary md-hue-1">
        <!-- Main Content -->
        <md-content id="mainContent" flex layout='column'>
            <md-tabs md-dynamic-height="true" md-stretch-tabs="always" md-align-tabs="top" md-border-bottom="true" md-autoselect="true" md-no-disconnect="true" md-no-pagination="true">
                <md-tab ng-repeat="(RenderingEngineUUID, RenderingEngine) in renderingEngineManager.dictionary" ng-disabled="RenderingEngine.disabled" md-active="RenderingEngine.active" md-on-select="renderingEngineManager.activeRenderingEngine = RenderingEngine.id;RenderingEngine.active = true;" md-on-deselect="renderingEngineManager.activeRenderingEngine = undefined;RenderingEngine.active = false;" label="{{RenderingEngine.title}}">
                    <gridster-directive class="gridster" options=exploreController.constants.dataExplorationGrid id="DataExploration">
                        <ul>
                            <li class="md-whiteframe-z5" data-row="1" data-col="1" data-sizex="1" data-sizey="2">
                                <header class='ui-dialog-titlebar ui-widget-header'>
                                    <div class='box'>Attributes</div>
                                </header>
                                <div class="gridsterWidgetContainer dropzone" ui-sortable="dropzone" ng-model="RenderingEngine.dataView.meta.attributesAvailableForRowsAndCols">
                                    <ul ui-sortable="exploreController.constants.sortableOptions" ng-model="RenderingEngine.dataView.meta.attributesAvailableForRowsAndCols" class="list">
                                        <li class="placeholder" ng-repeat="attribute in RenderingEngine.dataView.meta.attributesAvailableForRowsAndCols">
                                            <div class='box pvtAttr'>
                                                <span ng-bind="attribute"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="md-whiteframe-z5" data-row="1" data-col="2" data-sizex="1" data-sizey="1">
                                <header class='ui-dialog-titlebar ui-widget-header'>
                                    <div class='box'>Rows
                                    </div>
                                </header>
                                <div class="gridsterWidgetContainer dropzone" ui-sortable="dropzone" ng-model="RenderingEngine.dataView.meta.rows">
                                    <ul ui-sortable="exploreController.constants.sortableOptions" ng-model="RenderingEngine.dataView.meta.rows" class="list">
                                        <li class="placeholder" ng-repeat="attribute in RenderingEngine.dataView.meta.rows">
                                            <div class='box pvtAttr'>
                                                <span ng-bind="attribute"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="md-whiteframe-z5" data-row="2" data-col="2" data-sizex="1" data-sizey="1">
                                <header class='ui-dialog-titlebar ui-widget-header'>
                                    <div class='box'>Columns
                                    </div>
                                </header>
                                <div class="gridsterWidgetContainer dropzone" ui-sortable="dropzone" ng-model="RenderingEngine.dataView.meta.cols">
                                    <ul ui-sortable="exploreController.constants.sortableOptions" ng-model="RenderingEngine.dataView.meta.cols" class="list">
                                        <li class="placeholder" ng-repeat="attribute in RenderingEngine.dataView.meta.cols">
                                            <div class='box pvtAttr'>
                                                <span ng-bind="attribute"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="md-whiteframe-z5" data-row="1" data-col="3" data-sizex="4" data-sizey="2">
                                <header class='ui-dialog-titlebar ui-widget-header'>
                                    <div class='box'>Explore
                                    </div>
                                </header>
                                <div class="gridsterWidgetContainer">
                                    <md-content id="rendererProgress" flex layout="row" layout-fill layout-align="center center" style="display:none;">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </md-content>
                                    <rendering-engine-directive id="renderer" engine="RenderingEngine" input="dataSourceManager.dataSources[RenderingEngine.dataSourceConfigId].formattedData"></rendering-engine-directive>
                                </div>
                            </li>
                        </ul>
                    </gridster-directive>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-content>
</md-content>
